<footer class="bg-primary text-white text-center pb-5 position-relative mt-5">
    <p class="position-absolute top-50 start-50 translate-middle">Created with <i class="bi bi-heart-fill text-danger"></i> by <a href="" class="text-white fw-bold">Hendrik Ari Purna Irawan</a></p>
  </footer>