<footer class="bg-primary text-white text-center mt-5 container-fluid">
  <div class="row ">
    <div class="justify-content-center">
      <div class="mt-2"><i class="bi bi-envelope-at-fill pe-2"></i> Smpn1taphil@gmail.com</div>
      <div class="mt-2"><i class="bi bi-telephone-fill pe-2"></i> 0822-8688-8192</div>
      <div class="mt-2"><i class="bi bi-geo-alt-fill pe-2"></i>jl. Poros Desa Kota Baru</div>
    </div>
  </div>
  <div class="row mb-3 mt-2">
    <!-- <p class="position-absolute top-50 start-50 translate-middle">Created with <i class="bi bi-heart-fill text-danger"></i> by <a href="" class="text-white fw-bold">Hendrik Ari Purna Irawan</a></p> -->
    <div class="hstack justify-content-center">
      <div class="col-md">Copyright 2023. Designed by <a href="" class="text-white fw-bold navbar-brand">Hendrik Ari Purna Irawan</a>.</div>
    </div>
  </div>
</footer>