<svg style="padding-top: 3rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L48,154.7C96,181,192,235,288,218.7C384,203,480,117,576,117.3C672,117,768,203,864,213.3C960,224,1056,160,1152,122.7C1248,85,1344,75,1392,69.3L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
<div class="container">

    <div class="row text-center">
        <h2>KONTAK</h2>
    </div>
    <!-- MAPS START-->
    <div class="maps">
        <div class="row p-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.459393173931!2d101.23731511453803!3d0.7685417994393362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d4f0daed64f16f%3A0xadeb36dea91e0bba!2sSMP%20N%201%20TAPUNG%20HILIR!5e0!3m2!1sen!2sid!4v1677917097197!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row text-center mb-3">
            <p class="fw-bold fs-5">SMPN 1 TAPUNG HILIR</p>
            <p><i class="bi bi-geo-alt-fill"></i> jl. poros Desa Kota Baru, Kec. Tapung Hilir, Kab. Kampar, Riau</p>
            <p><i class="bi bi-telephone-fill pe-2"></i>0822-9888-0000</p>
            <p><i class="bi bi-envelope-at-fill pe-2"></i>Smpn1@gmail.com</p>
        </div>
    </div>

    <!-- MAPS END -->
    
    <!-- FORM START -->
    <div class="form_contact mt-5">
        <div class="row text-center mb-3">
            <h2>HUBUNGI KAMI</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form>
                    <div class="mb-3">
                      <label for="nama" class="form-label">Nama</label>
                      <input type="text" class="form-control" id="nama">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="pesan" class="form-label">Pesan</label>
                        <textarea class="form-control" id="pesan" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Kirim</button>
                  </form>
            </div>
        </div>
    </div>
    <!-- FORM CONTACT END -->
</div>